@use "../utils/" as set;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-thumb {
    background: set.$secondary;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: set.$stroke;
  }
}

body {
  min-height: 100vh;
  background-color: set.$bg-color;
  color: set.$primary;
  font-family: set.$font-fa;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

::selection {
  background-color: set.$selection;
  color: set.$primary;
}

::-moz-selection {
  background-color: set.$selection;
  color: set.$primary;
}

.icon {
  color: set.$stroke;
  font-size: map-get(set.$font-sizes, medium);
}

.scroll-Top {
  border-radius: 50%;
  background-color: set.$primary;
}