$font-fa: "Poppins", sans-serif;
$font-sizes: (
  "x-small": 1.25rem,
  "small": 1.5625rem,
  "medium": 2rem,
  "large": 4.375rem,
  "x-large": 5rem,
);
$font-weight: (
  "x-small": 100,
  "small": 200,
  "medium": 400,
  "large": 600,
);
