.card-skills {
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-skills-title {
  font-size: 0.8rem;
  opacity: 0.1;
  transition: opacity 0.9s ease;
}

.card-skills-icon {
  transition: opacity 0.9s ease;
}
