:root {
  --main: #f2f4f6;
  --title: #00214d;
}

.container {
  background: var(--main);
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--title);
  margin-bottom: 10px;
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
}
