:root {
  --main: #0f0e17;
  --title: #fffffe;
}

.container {
  background: var(--main);
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--title);
  margin-bottom: 10px;
  padding-left: 25px;
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  padding: 0 10px 20px;
  margin-top: 20px;
}

@media (width <= 930px) {
  .projects {
    justify-content: center;
  }
  .wrapper h1 {
    text-align: center;
  }
}

@media (width <= 570px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }
}
