.contact {
  --bg-color: #0f0e17;
  background: var(--bg-color);
}

.contact-wrapper {
  max-width: 1000px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

@media (width <= 930px) {
  .contact-wrapper {
    justify-content: center;
  }
}
