:root {
  --primary: #fffffe;
  --headline: #2b2c34;
  --text: #1b2d45;
}

.navbar {
  max-width: 400px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 130px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  z-index: 100;
}

.navbar-list {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.navbar-list li a {
  font-size: 1.1rem;
  color: var(--text);
  font-weight: 600;
}

.fixed {
  position: fixed;
  top: 0;
}

.max-width {
  max-width: 40%;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}
