*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
html::-webkit-scrollbar {
  width: 0.7em;
}
html::-webkit-scrollbar-thumb {
  background: #72757e;
  border-radius: 10px;
}
html::-webkit-scrollbar-track {
  background: #010101;
}

body {
  min-height: 100vh;
  background-color: #16161a;
  color: #fffffe;
  font-family: "Poppins", sans-serif;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

::selection {
  background-color: rgba(56, 139, 253, 0.4);
  color: #fffffe;
}

::-moz-selection {
  background-color: rgba(56, 139, 253, 0.4);
  color: #fffffe;
}

.icon {
  color: #010101;
  font-size: 2rem;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1.25rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

.badge {
  padding: 8px 10px;
  background-color: #7f5af0;
  border-radius: 3px;
  font-size: 1.5625rem;
  margin-right: 8px;
}

.button {
  padding: 10px 15px;
  border: 2px solid #7f5af0;
  border-radius: 3px;
  margin-top: 30px;
  font-size: 1.5625rem;
  background-color: transparent;
  color: #7f5af0;
  font-weight: 2rem;
  transition: all ease-in 0.2s;
}
.button:hover {
  background-color: #7f5af0;
  color: #fffffe;
}
@media (width <= 510px) {
  .button {
    font-size: 1.25rem;
  }
}

.card {
  width: 425px;
  height: 480px;
  padding: 15px 15px;
  margin-right: 15px;
  margin-block: 20px;
  border-radius: 8px;
  background-color: #16161a;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
@media (width <= 1280px) {
  .card {
    width: 350px;
    height: 430px;
    padding: 20px 20px;
  }
}
@media (width <= 1130px) {
  .card {
    width: 310px;
    height: 390px;
    padding: 15px 15px;
  }
}
@media (width <= 480px) {
  .card {
    width: 350px;
    height: 400px;
    padding: 20px 20px;
  }
}
.card span:last-child {
  margin-right: 0;
}
.card:hover .card__image {
  transform: scale(1.05);
  cursor: pointer;
}
.card__image {
  width: 398px;
  height: 300px;
  transition: transform 0.8s;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
@media (width <= 1280px) {
  .card__image {
    width: 340px;
    height: 250px;
  }
}
@media (width <= 1130px) {
  .card__image {
    width: 300px;
    height: 220px;
  }
}
@media (width <= 480px) {
  .card__image {
    width: 310px;
    height: 230px;
  }
}
.card__card-title {
  font-size: 2rem;
  color: #fffffe;
  margin-block: 15px;
}
.card__description {
  font-size: 1.25rem;
  font-weight: 300;
  color: #94a1b2;
  margin-block: 10px;
}

.skill__card {
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  border: none;
  transition: all 0.3s ease;
}
.skill__card:hover {
  box-shadow: 0px 0px 10px 1px rgba(107, 16, 113, 0.45), 0px 0px 70px 2px rgba(107, 16, 113, 0.75);
}

.skill__icons {
  font-size: 50px;
}

.skill__title {
  font-size: 1.5625rem;
}

.skill__description {
  color: #94a1b2;
}

.skill_button {
  border: none;
  padding: 8px 15px;
  background-color: #2cb67d;
  font-size: 1.25rem;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px);
}
.profile__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
  height: 500px;
}
.profile__item .profile__image {
  width: 300px;
  height: 300px;
}
@media (width <= 768px) {
  .profile__item .profile__image {
    width: 250px;
    height: 250px;
  }
}
@media (width <= 510px) {
  .profile__item .profile__image {
    width: 200px;
    height: 200px;
  }
}
.profile__item .profile__title {
  font-size: 5rem;
  font-weight: 600;
}
@media (width <= 768px) {
  .profile__item .profile__title {
    font-size: 4.375rem;
  }
}
@media (width <= 510px) {
  .profile__item .profile__title {
    font-size: 2.7rem;
  }
}
.profile__item .profile__title::before {
  content: "{ ";
  color: rgb(85, 0, 85);
}
.profile__item .profile__title::after {
  content: " }";
  color: rgb(85, 0, 85);
}
.profile__item .profile__subtitle {
  font-size: 2rem;
  color: #72757e;
  font-weight: 300;
}
@media (width <= 768px) {
  .profile__item .profile__subtitle {
    font-size: 1.5625rem;
  }
}
@media (width <= 510px) {
  .profile__item .profile__subtitle {
    font-size: 1.1rem;
  }
}

.project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #242629;
  padding: 30px 20px;
}
.project .card:nth-child(3),
.project .card:nth-child(6) {
  margin-right: 0;
}
@media (width <= 1110px) {
  .project .card:nth-child(3),
  .project .card:nth-child(6) {
    margin-right: 20px;
  }
}
@media (width <= 480px) {
  .project .card,
  .project .card:nth-child(3),
  .project .card:nth-child(6) {
    margin-right: 0;
  }
}

.skills {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #16161a;
  padding: 40px 30px;
  gap: 40px;
}
@media (width <= 780px) {
  .skills {
    width: 100%;
    height: 700px;
  }
}
@media (width <= 592px) {
  .skills {
    width: 100%;
    height: 900px;
  }
}
@media (width <= 400px) {
  .skills {
    width: 100%;
    height: 1600px;
  }
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;
}
@media (width <= 1500px) {
  .about {
    padding: 40px 20px;
  }
}
@media (width <= 880px) {
  .about {
    padding: 30px 20px;
  }
}
.about__content {
  width: 800px;
  height: 100%;
  background-color: #242629;
  padding: 30px 20px;
  border-radius: 3px;
}
@media (width <= 880px) {
  .about__content {
    width: 550px;
    height: 100%;
  }
}
.about__content h2 {
  text-align: center;
  font-size: 4.375rem;
  font-weight: 500;
  color: #fffffe;
}
@media (width <= 1500px) {
  .about__content h2 {
    font-size: 4rem;
  }
}
@media (width <= 880px) {
  .about__content h2 {
    font-size: 3.8rem;
  }
}
.about__content .beginning {
  width: 100%;
  height: calc(100vh - 220px);
  padding: 30px;
  border-bottom: 2px solid #72757e;
}
@media (width <= 1500px) {
  .about__content .beginning {
    width: 100%;
    height: calc(100vh - 190px);
  }
}
@media (width <= 880px) {
  .about__content .beginning {
    width: 100%;
    height: calc(100vh - 180px);
    padding: 10px;
  }
}
.about__content .beginning h3 {
  font-size: 2rem;
  color: #fffffe;
  margin-block: 30px;
}
@media (width <= 1500px) {
  .about__content .beginning h3 {
    margin-block: 20px;
  }
}
@media (width <= 880px) {
  .about__content .beginning h3 {
    margin-block: 15px;
  }
}
.about__content .beginning p {
  font-size: 1.5625rem;
  font-weight: 300;
  color: #94a1b2;
  line-height: 2;
}
@media (width <= 1500px) {
  .about__content .beginning p {
    line-height: 1.8;
  }
}
@media (width <= 880px) {
  .about__content .beginning p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media (width <= 480px) {
  .about__content .beginning p {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}
.about__content .profession {
  border-top: 2px solid #72757e;
}
.about__content .education,
.about__content .profession {
  width: 100%;
  height: 100vh;
  padding: 30px;
}
@media (width <= 880px) {
  .about__content .education,
  .about__content .profession {
    padding: 10px;
  }
}
.about__content .education h3,
.about__content .profession h3 {
  font-size: 2rem;
  color: #fffffe;
  margin-block: 30px;
}
@media (width <= 1500px) {
  .about__content .education h3,
  .about__content .profession h3 {
    margin-block: 20px;
  }
}
@media (width <= 880px) {
  .about__content .education h3,
  .about__content .profession h3 {
    margin-block: 15px;
  }
}
.about__content .education p,
.about__content .profession p {
  font-size: 1.5625rem;
  font-weight: 300;
  color: #94a1b2;
  line-height: 2;
}
@media (width <= 1500px) {
  .about__content .education p,
  .about__content .profession p {
    line-height: 1.8;
  }
}
@media (width <= 880px) {
  .about__content .education p,
  .about__content .profession p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media (width <= 480px) {
  .about__content .education p,
  .about__content .profession p {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}
.about .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}
.about .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}
.contact__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}
.contact__container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
.contact__container form label {
  font-size: 1.5625rem;
}
.contact__container form label:not(:first-child) {
  margin-top: 15px;
}
.contact__container form input,
.contact__container form textarea {
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #72757e;
  background-color: #242629;
  font-size: 1.5625rem;
  font-weight: 300;
}
.contact__container form input:focus,
.contact__container form textarea:focus {
  outline: 2px solid #72757e;
}
.contact__container form textarea {
  resize: none;
}
.contact__container form button {
  margin-top: 15px;
  padding: 10px;
  font-size: 1.5625rem;
  font-weight: 400;
  border: 2px solid #72757e;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.contact__container form button:hover {
  background-color: #7f5af0;
  border: 2px solid #7f5af0;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #16161a;
  color: #fffffe;
  box-shadow: 0 0px 5px 1px rgba(66, 66, 66, 0.9);
  position: relative;
}
.header .menu-icon,
.header .close-icon {
  width: 40px;
  height: 40px;
  display: none;
  font-size: 50px;
  position: absolute;
  right: 10px;
  z-index: 2000;
}
@media (width <= 480px) {
  .header .menu-icon,
  .header .close-icon {
    display: block;
  }
}

.footer {
  width: 100%;
  height: 250px;
  background-color: #010101;
  padding: 30px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 190px;
}
.footer__container-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 50px;
}
.footer__container-icons .tooltip {
  position: relative;
}
.footer__container-icons .tooltip:hover .tooltip-box1 {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.footer__container-icons .tooltip:hover .tooltip-box2 {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.footer__container-icons .tooltip:hover .tooltip-box3 {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.footer__container-icons .tooltip .tooltip-box1,
.footer__container-icons .tooltip .tooltip-box2,
.footer__container-icons .tooltip .tooltip-box3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #242629;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: #fffffe;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}
.footer__container-icons .tooltip .tooltip-box1 {
  left: -55px;
  bottom: 50px;
  transition: opacity 0.8s ease;
}
.footer__container-icons .tooltip .tooltip-box1::after {
  content: "";
  display: block;
  border-top: 7px solid #242629;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 7px);
}
.footer__container-icons .tooltip .tooltip-box2 {
  left: -85px;
  bottom: 55px;
  transition: opacity 0.8s ease;
}
.footer__container-icons .tooltip .tooltip-box2::after {
  content: "";
  display: block;
  border-top: 7px solid #242629;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 7px);
}
.footer__container-icons .tooltip .tooltip-box3 {
  left: -20px;
  bottom: 55px;
  transition: opacity 0.8s ease;
}
.footer__container-icons .tooltip .tooltip-box3::after {
  content: "";
  display: block;
  border-top: 7px solid #242629;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 7px);
}
.footer__container-icons a .icon-styles {
  font-size: 4.375rem;
  color: #fffffe;
}
@media (width < 480px) {
  .footer__container-icons a .icon-styles {
    font-size: 3.5rem;
  }
}
.footer__creator {
  width: 300px;
  height: 50px;
  text-align: center;
}
.footer__creator p,
.footer__creator span {
  font-size: 1.5625rem;
  color: #94a1b2;
}
@media (width < 480px) {
  .footer__creator p,
  .footer__creator span {
    font-size: 1.25rem;
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 50px;
}
nav > a {
  font-size: 2rem;
  color: #fffffe;
  font-weight: 600;
  position: relative;
}
@media (width <= 480px) {
  nav > a {
    font-size: 1.5625rem;
  }
}
nav > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2cb67d;
  bottom: 0;
  left: 0;
  top: 30px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
nav a.active {
  color: #2cb67d;
}

/*# sourceMappingURL=style.css.map */
