@use "../utils" as set;

.card {
  @include set.dimensions(425px, 480px);
  padding: 15px 15px;
  margin-right: 15px;
  margin-block: 20px;
  border-radius: 8px;
  background-color: set.$bg-color;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  @media (width <= 1280px) {
    @include set.dimensions(350px, 430px);
    padding: 20px 20px;
  }

  @media (width <= 1130px) {
    @include set.dimensions(310px, 390px);
    padding: 15px 15px;
  }

  @media (width <= 480px) {
    @include set.dimensions(350px, 400px);
    padding: 20px 20px;
  }

  span:last-child {
    margin-right: 0;
  }

  &:hover &__image {
    transform: scale(1.05);
    cursor: pointer;
  }

  &__image {
    @include set.dimensions(398px, 300px);
    transition: transform 0.8s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @media (width <= 1280px) {
      @include set.dimensions(340px, 250px);
    }

    @media (width <= 1130px) {
      @include set.dimensions(300px, 220px);
    }

    @media (width <= 480px) {
      @include set.dimensions(310px, 230px);
    }
  }

  &__card-title {
    font-size: map-get(set.$font-sizes, medium);
    color: set.$primary;
    margin-block: 10px;
  }

  &__description {
    font-size: map-get(set.$font-sizes, x-small);
    font-weight: map-get(set.$font-weight, s-medium);
    color: set.$paragraph;
    margin-block: 10px;
  }
}
