@use "../utils" as set;

.card {
  @include set.dimensions(400px, 480px);
  overflow: hidden;
  padding: 25px 25px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: set.$bg-color;
  transition: all 0.5s ease-in-out;

  span:last-child {
    margin-right: 0;
  }

  &:hover &__image {
    transform: scale(1.07);
    cursor: pointer;
  }

  &__image {
    @include set.dimensions(398px, 300px);
    transition: transform .8s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__card-title {
    font-size: map-get(set.$font-sizes, medium);
    color: set.$primary;
    margin-block: 10px;
  }

  &__description {
    font-size: map-get(set.$font-sizes, x-small);
    font-weight: map-get(set.$font-weight, s-medium);
    color: set.$paragraph;
    margin-block: 10px;
  }
}
