@use '../utils' as set;

.skill_button {
  border: none;
  padding: 8px 15px;
  background-color: set.$tertiary;
  font-size: map-get(set.$font-sizes, x-small);
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
}
