@use "../utils/" as set;

.footer {
  @include set.dimensions(100%, 250px);
  background-color: set.$stroke;
  padding: 30px;

  &__content {
    @include set.center-element(column, center, space-evenly);
    @include set.dimensions(100%, 190px);
  }

  &__container-icons {
    @include set.center-element(row, center, space-around);
    @include set.dimensions(200px, 50px);

    .tooltip {
      position: relative;

      &:hover .tooltip-box1 {
        display: inline-block;
        visibility: visible;
        opacity: 1;
      }

      &:hover .tooltip-box2 {
        display: inline-block;
        visibility: visible;
        opacity: 1;
      }

      &:hover .tooltip-box3 {
        display: inline-block;
        visibility: visible;
        opacity: 1;
      }

      .tooltip-box1,
      .tooltip-box2,
      .tooltip-box3 {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: set.$card-bg;
        line-height: 20px;
        z-index: 500;
        text-align: center;
        color: set.$primary;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
      }

      .tooltip-box1 {
        left: -55px;
        bottom: 50px;
        transition: opacity .8s ease;

        &::after {
          content: "";
          display: block;
          border-top: 7px solid set.$card-bg;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          position: absolute;
          bottom: -5px;
          left: calc(50% - 7px);
        }
      }

      .tooltip-box2 {
        left: -85px;
        bottom: 55px;
        transition: opacity .8s ease;

        &::after {
          content: "";
          display: block;
          border-top: 7px solid set.$card-bg;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          position: absolute;
          bottom: -5px;
          left: calc(50% - 7px);
        }
      }

      .tooltip-box3 {
        left: -20px;
        bottom: 55px;
        transition: opacity .8s ease;

        &::after {
          content: "";
          display: block;
          border-top: 7px solid set.$card-bg;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          position: absolute;
          bottom: -5px;
          left: calc(50% - 7px);
        }
      }
    }

    a .icon-styles {
      font-size: map-get(set.$font-sizes, large);
      color: set.$primary;
    }
  }

  &__creator {
    p {
      font-size: map-get(set.$font-sizes, medium);
      color: set.$paragraph;
    }

    .creator {
      font-size: map-get(set.$font-sizes, small);
      color: set.$paragraph;
    }
  }
}
