@use "../utils" as set;

.header {
  @include set.dimensions(100%, 70px);
  @include set.center-element;
  background-color: set.$bg-color;
  color: set.$primary;
  box-shadow: 0 0px 5px 1px rgba(66, 66, 66, 0.9);

  .menu-icon,
  .close-icon {
    display: none;
    font-size: 50px;

    @media (width <= 480px) {
      display: block;
    }
  }

  /* .menu {
    width: 100%;
    height: calc(100vh * 2);
    background: slateblue;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    z-index: 1000;
    animation: slide-in 1000ms;
  } */
}

/* @keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
 */