@use "../utils" as set;

nav {
  @include set.center-element(row, center, space-evenly);
  @include set.dimensions(400px, 50px);

  & > a {
    font-size: map-get(set.$font-sizes, medium);
    color: set.$primary;
    font-weight: map-get(set.$font-weight, large);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: set.$tertiary;
      bottom: 0;
      left: 0;
      top: 30px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
