:root {
  --button-text: #fffffe;
  --headline: #fffffe;
  --text: #1b2d45;
  --button: #6246ea;
}

.avatar {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avatar-image img {
  width: 350px;
  height: 350px;
  border-radius: 50px;
}

.avatar-profile {
  text-align: center;
}

.avatar-name {
  margin-bottom: 5px;
  font-size: 4rem;
  font-weight: 600;
  color: var(--headline);
}

.avatar-job {
  margin-bottom: 10px;
  font-size: 1.7rem;
  color: var(--text);
}

.avatar-job-text {
  color: #ff5470;
  font-size: 1.7rem;
  font-weight: 600;
}

.avatar-social {
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar-social a:first-child {
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--button);
  color: var(--button-text);
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #5334e8;
}
