@use "../utils/" as set;

.contact {
  @include set.dimensions(100%, calc(100vh - 70px));
  @include set.center-element;
  padding: 50px 20px;

  &__container {
    @include set.center-element();
    width: 100%;
    max-width: 600px;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;

      label {
        font-size: map-get(set.$font-sizes, small);
      }

      label:not(:first-child) {
        margin-top: 15px;
      }

      input,
      textarea {
        margin-top: 15px;
        padding: 10px;
        border: 2px solid set.$secondary;
				background-color: set.$card-bg;
        font-size: map-get(set.$font-sizes, small);
				font-weight: map-get(set.$font-weight, s-medium);

        &:focus {
          outline: 2px solid set.$secondary;
        }
      }

			button {
				margin-top: 15px;
				padding: 10px;
        font-size: map-get(set.$font-sizes, small);
				font-weight: map-get(set.$font-weight, medium);
				border: 2px solid set.$secondary;
				cursor: pointer;
				transition: all .2s ease-in;

				&:hover {
					background-color: set.$bg-button;
					border: 2px solid set.$bg-button;
				}
			}

    }
  }
}
