@use "../utils" as set;

.profile {
  @include set.center-element;
  @include set.dimensions(100%, calc(100vh - 70px));

  &__item {
    @include set.center-element(column, center, space-evenly);
    @include set.dimensions(800px, 500px);

    .profile__title {
      font-size: map-get(set.$font-sizes, x-large);
      font-weight: map-get(set.$font-weight, large);

      @media (width <= 768px) {
        font-size: map-get(set.$font-sizes, large);
      }

      @media (width <= 510px) {
        font-size: 2.7rem;
      }

      &::before {
        content: "{ ";
        color: rgb(85, 0, 85);
      }

      &::after {
        content: " }";
        color: rgb(85, 0, 85);
      }
    }

    .profile__subtitle {
      font-size: map-get(set.$font-sizes, medium);
      color: set.$secondary;
      font-weight: map-get(set.$font-weight, small);

      @media (width <= 768px) {
        font-size: map-get(set.$font-sizes, small);
      }

      @media (width <= 510px) {
        font-size: 1.1rem;
      }
    }
  }
}

.project {
  @include set.dimensions(100%, 100%);
  @include set.center-element(row, flex-start, center);
  flex-wrap: wrap;
  background-color: set.$card-bg;
  padding: 30px 20px;

  .card:nth-child(3),
  .card:nth-child(6) {
    margin-right: 0;

    @media (width <= 1110px) {
      margin-right: 20px;
    }
  }

  @media (width <= 480px) {
    .card,
    .card:nth-child(3),
    .card:nth-child(6) {
      margin-right: 0;
    }
  }
}

.skills {
  @include set.dimensions(100%, 400px);
  @include set.center-element(row, stretch, center);
  background-color: set.$bg-color;
  padding: 40px 30px;
  gap: 20px;

  // border: 1px solid tomato;

}