@use "../utils" as set;

.profile {
  @include set.center-element;
  @include set.dimensions(100%, calc(100vh - 70px));

  &__item {
    @include set.center-element(column, center, space-evenly);
    @include set.dimensions(800px, 500px);

    .profile__title {
      font-size: map-get(set.$font-sizes, x-large);
      font-weight: map-get(set.$font-weight, large);

      &::before {
        content: "<";
        color: rgb(85, 0, 85);
      }

      &::after {
        content: " />";
        color: rgb(85, 0, 85);
      }
    }

    .profile__subtitle {
      font-size: map-get(set.$font-sizes, medium);
      color: set.$secondary;
      font-weight: map-get(set.$font-weight, small);
    }
  }
}

.project {
  @include set.dimensions(100%, 100%);
  @include set.center-element(row, flex-start, center);
  flex-wrap: wrap;
  background-color: set.$card-bg;
  padding: 30px 20px;

  .card:nth-child(3), .card:nth-child(6) {
    margin-right: 0;
  }
}
