@use "../utils" as set;

.page-not-found {
  @include set.dimensions(100%, calc(100vh - 70px));
  padding: 1em;
  overflow: hidden;

  .background-wrapper {
    position: relative;
    @include set.dimensions(100%, 100%);
    user-select: none;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-20deg);
      font-family: inherit;
      font-weight: 800;
      font-size: 40vmax;
      color: set.$page-bg;
      letter-spacing: 0.025em;
      margin: 0;
      transition: 750ms ease-in-out;

      &:hover {
        transform: translate(-50%, -50%) rotate(0deg);
        color: rgba(set.$primary, 0.7);
      }
    }
  }

  p {
    color: set.$paragraph;
    font-size: calc(1em + 3vmin);
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    text-align: right;
    text-shadow: -1px -1px 0 #121212, 1px 1px 0 #121212, -1px 1px 0 #121212,
      1px -1px 0 #121212;

    @media screen and (width <= 340px) {
      width: 70%;
    }
    @media screen and (width <= 560px) {
      width: 50%;
    }
    @media screen and (width <= 940px) {
      width: 30%;
    }
    @media screen and (width <= 1300px) {
      width: 25%;
    }
  }
}
